@media print{
        body {
	        font-family:"Times New Roman", Times, serif;
                font-size: 11pt;
                background:#fff;
        } 
        p {
                font-family:"Times New Roman", Times, serif;
                margin:2px 0 10px 0;
        }
         h1 {
                font-family: Arial, sans-serif, Times, "Times New Roman", Times, serif;
                font-size:18pt;
                margin:5px 0;
                clear:both;
                font-weight:500;
                border-bottom:1px dotted #ccc;
        }
         h2 {
                font-family: Arial, sans-serif, Times, "Times New Roman", Times, serif;
                font-size:15pt;
                font-weight:500;
                margin-bottom:2px;
        }
         h3 {
                font-family: Arial, sans-serif, Times, "Times New Roman", Times, serif;
                font-size:12pt;
                margin:10px 0 2px;
        }
         h4 {
                font-family: "Times New Roman", Times, serif;
                font-size:11pt;
        }
h5  {
        font-size:11pt;
        font-weight:500;
        font-style:italic;
        font-family: "Times New Roman", Times, serif,verdana,Arial;
	margin:10px 0;
	padding:0 0 0 0px;
        color: #333333;
}
.miniarticleWrapper h2, .rightColHeader, #rightCol .header h2{
                font-family: Arial, sans-serif, Times, "Times New Roman", Times, serif;
                font-size:18pt;
                font-weight:500;
                margin-bottom:5px;
                border-bottom:1px dotted #ccc;
                display:block;
}

        #wrapper{
	       border-bottom:none !important;
               background:#fff;
	}
        #flik {
               display: none;
}
	#header, #topMenu {
	       display: none;
	}
        #container {
               width:100%;
               margin:0 0px 0 0;
         }
        #container #centerCol, #container #centerColWide, #leftCol, #rightCol {
               width:90%;
               clear:both;
               margin-left: 40px;
         }

        #container #centerCol .centerColInside, #container #centerColWide .centerColInsideWide {
               width:100%;

         }
      .centerColInside p, .centerColInsideWide p {
                font-family:"Times New Roman", Times, serif;
                margin-right:0px;
        }
      .centerColInside ul, .centerColInsideWide ul {
                font-family:"Times New Roman", Times, serif;
                font-size:12pt;
        }
        ul li a {
                font-family:"Times New Roman", Times, serif;
                font-size:12pt;
        }
       td p {
                font-size:11pt;
        } 
       td {
                font-size:11pt;
vertical-align:top;
        }
       th {
                font-size:11pt;
vertical-align:top;
text-align:left;
        }
	#leftCol .categoryTree, #leftCol .toolbox, #leftCol .treeMenuContainer {
		display: none;
	}
	#rightCol .documentInfo {
		display: none;
	}

	#footer {
		display: none;
	}

	.printField ul{
		display: none;
	}
	
	#printField ul{
		display: none;
	}
	  
        p.editera {
                display:none;
       } 
        caption {
                font-family: Arial, sans-serif, Times, "Times New Roman", Times, serif;
                font-size:14pt;
                font-weight:500;
                margin-bottom:2px;
       } 
       .adminLink {
                display:none;
        }
       .documentInfo {
                 display:none;
}
ul.beslut li {
                 margin-bottom:4px;
                 height:12px;
}
       .mainDocument{
                width:100%;
                background:url("") left top no-repeat;
        }

 .printdiv {
        margin:0 0 15px;
        float:left;
 }
 .decisionInfo {
        height:20px;
        margin-bottom:10px;
        display:inline;
        float:right;
 }
 .decisionInfo ul li{
        height:20px;
        margin-bottom:10px;
        display:block;
        clear:right;
 }
 ul.beslut li {
       margin-bottom:4px;
       height:16px;
 }
 .orgdoc {
      margin-top:20px;
      clear:both;
      font-style:italic;
  }
  .printControl p {
        display:none;
  }
/*********** Sluttagg som ska finnas med ************/
}
html {
    overflow-y: scroll; 
}
