
// 
// The source code is copyrighted, with equal shared rights, between the
// authors (see the file AUTHORS) and the OpenExam project, Uppsala University 
// unless otherwise explicit stated elsewhere.
// 
// File:    signup.css
// Created: 2015-03-30 14:02:22
// 
// Author:  Anders Lövgren (Computing Department at BMC, Uppsala University)
// 

/**
 * CSS for signup
 */

// 
// Main section area:
// 
div.signup1 {
    // Must be here!??
}
div.signup {
    padding-top: 20px;
    padding-left: 20px;
    max-width: 700px;
    border-left: 2px solid #eee;
}
div.mbox-head {
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 10px;
}
div.mbox-text {
    position: relative;
    left: 20px;
}

// 
// The exam message box:
// 
div.exam-content-box1 {
    // Must be here!??
}
div.exam-content-box {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border: 1px solid #eaddc4;
    border-radius: 8px 8px 8px 8px;
    background: #fff;
}
div.exam-head {
    margin: -1px;
    padding-left: 10px;
    margin-bottom: 5px;
    background: #ffc;
    color: #c09853;
    border: 1px solid #eaddc4;
    border-radius: 8px 8px 0px 0px;
    font-weight: bold;
}
div.exam-body {
    padding-left: 10px;
}
div.exam-status {    
    margin-top: 10px;
    padding-left: 10px;
}
div.exam-listing {
    margin-top: 5px;
    padding: 10px;
    background: #eee;
}
