
// 
// The source code is copyrighted, with equal shared rights, between the
// authors (see the file AUTHORS) and the OpenExam project, Uppsala University 
// unless otherwise explicit stated elsewhere.
// 
// File:    supermenu.css
// Created: 2015-02-17 01:37:04
// 
// Author:  Anders Lövgren (QNET/BMC CompDept)
// 

ul#menucontainer li {
    list-style:none;    /* compact top menu item */
}

ul#menucontainer li ul { 
    position:absolute; 
    visibility:hidden; 
    display: inline;
    padding:0;
    margin:0;
    margin-top:-1px;
    margin-left:-1px;
    min-width: 200px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
} 

ul#menucontainer li ul li { 
    display:inline; 
    float:none; 
} 

ul#menucontainer li ul li a:link, ul#menucontainer li ul li a:visited { 
    background-color:#FFF;
    color: #333;
    width:auto; 
} 

ul#menucontainer li ul li a:hover { 
    background-color:#FCF8E3; 
}
