/* Format as -*- C -*- code.
 * 
 * Custom CSS for openexam project.
 * 
 * Author: Anders Lövgren
 * Date:   2009-08-16
 */

img {
	border: 0px;
}

label
{
	width: 12em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block
}

input.file {
	width: 400px;
}

.submit input
{
	margin-left: 8.5em;
}

div.lang-show {
	margin: 0px;
	padding: 0px;
	float: right;
}

div.lang-show img {
	vertical-align: middle;
	padding-right: 3px;
}

div.lang-select {
	position: absolute;
	visibility: hidden;
	z-index: 1;          /* always on top */
	left: 820px;
	top:  0px;
	background-color: white;
	border: 1px solid #aaaaaa;
	padding: 5px;
}

#menuhead {
        margin-left: 10px;
	font-weight: bold;
	color: #666666;
	text-decoration: underline;
}

table td {
	padding-left: 5px;
}

th a, th a:hover {
	color: #000;
}

div.validator {
	margin-top: 5px;
}

div.courses {
	position: relative;
	left: 25px;
	top: 5px;
	width: 560px;
	background-color: #dddddd;
	border: 1px solid #777777;
	display: none;
}

div.invoice {
	position: relative;
	padding: 5px;
	border: 1px solid #999999;
}

/*
 * Links at right hand side in trees.
 */
span.links {
	position: absolute;
	left: 630px;
	width: 340px;
	text-align: right;
}

/*
 * Use this class by inherit from span.links, like: <span class="links viewmode">
 */
span.viewmode {
	top: 140px;	
}

tr:nth-child(even) {
	background: #ffffcc;
}

tr:nth-child(odd) {
	background: #efefef;
}
tr.nonth {
	background: white;
}

/* 
 * Used by the correcting page.
 */
tr.question, tr.comment {
	background: #ffffcc;
}
tr.answer {
	background: #efefef;
}
td.removed {
	background: white;
	border: 2px solid red;
}

/*
 * Style different types of list items.
 */
li.program,
li.stage {
	border-bottom: 1px solid #ffcccc;
}
li.semester,
li.user,
li.order {
	border-bottom: 1px solid #ccccff;
}
li.course {
	border-bottom: 1px solid #eeeeee;
}

/* 
 * Wrap list items depending on nesting level (trees).
 */
ul.level1 {
	width: 700px;
}
ul.level2 {
	width: 600px;
}
ul.level3 {
	width: 500px;
}

/* 
 * The description of an examination.
 */
div.examination {
	border: 1px solid gray;
	padding: 10px;
	margin-bottom: 10px;
}
div.examhead {
	color: white;
	background-color: gray;
	font-size: 1.5em;
	padding: 5px;
}
div.examquest {
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 3px;
	border: 1px solid #dddddd;
	background: #ffffcc;
}

/** 
 *  Color encoding for the score board (author mode).
 */
td.cc {
	width: 25px;
	text-align: center;
}
td.no { /* not owner */
	border: 1px solid #666666;
	background-color: #999999;
}
td.na { /* no answer */
	border: 1px solid #880000;
	background-color: #ee0000;
}
td.nc { /* not yet corrected */
	border: 1px solid #00aa00;
	background-color: #00ff00;
}
td.ac { /* answer corrected */
	border: 1px solid #cccccc;
	background-color: #ffffff;
}
td.qr { /* question flagged as removed */
	border: 1px solid #00aaaa;
	background-color: #00ffff;
}
td.aa { /* answer avarage (bottom) */
	border: 1px solid #dddddd;
	background-color: #eeeeee;
}
tr.avarage,
tr.colorcode {
	background-color: #ffffff;
}

/** 
 *  Color encoding for the score board (colorized mode).
 */
td.s0 {
	border: 1px solid #000000;
	color: white;
	background: #000033;
}
td.s20 {
	border: 1px solid #000033;
	color: white;
	background: #000066;
}
td.s40 {
	border: 1px solid #000066;
	color: white;
	background: #000099;
}
td.s60 {
	border: 1px solid #0099cc;
	color: black;
	background: #33ccff;
}
td.s80 {
	border: 1px solid #aacccc;
	color: black;
	background: #ddffff;
}
td.s100 {
	border: 1px solid #cccccc;
	color: black;
	background: #ffffff;
}

/**
 *  Decorate content on question answer page.
 */
div.question {
	padding-bottom: 10px;
}
div.answer {
	padding: 0px 0px 10px 10px;
	margin-top: 10px;
	border: 1px solid #cccccc;
	background-color: #f9f9f9;
}
p.answer {
	text-decoration: underline;
	font-weight: bold;
}
div.media {
	border-left: 2px solid #cccccc;
	padding-left: 10px;
}

/** 
 *  Standard width and height for text areas:
 */
textarea.message,
textarea.description,
textarea.students,
textarea.question {
	width: 550px;
	height: 250px;
}
textarea.grade {
	width: 300px;
	height: 75px;
}

/** 
 *  These classes is used in conjunction with grades in score table.
 */
td.gru {
	border: 1px solid #880000;
	background-color: #ee0000;
}
td.grg,
td.gr3 {
	border: 1px solid #dddddd;
	background-color: #ffffff;
}
td.gr4 {
	border: 1px solid #0000aa;
	background-color: #6666ff;
}
td.grvg,
td.gr5 {
	border: 1px solid #00aa00;
	background-color: #00ff00;
}

/**
 *  The section header used in forms:
 */
h4.secthead {
	color: gray;
	text-decoration: underline;
	margin: 0px;
}
