body {
	color : black;
	font-family : Verdana, Arial, Sans-serif;
	font-size : 0.71em;
	line-height: 1.5;
}

p, ul, ol, dd, div, td {
	color : black;
	font-family : Verdana, Arial, Sans-serif;
	line-height: 1.5;
}
#maincontent_under p {
	margin:5px 0 15px;
}
h1 {
	font-size: 2.0em;
	font-family:Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: 500;
	background: transparent;
	padding:10px 0 0;
}
#maincontent_selma h1 {
	font-size: 2.0em;
	font-family:Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: 500;
	background: transparent;
	padding:10px 0 0;
	border-bottom:1px dashed #ccc;
}
#maincontent h2 {
	font-size: 2.0em;
	font-family:Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: 500;
	background: transparent;
	padding:10px 0 0;
}
#maincontent_under h2 {
	font-size: 2.0em;
	font-family:Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: 500;
	background: transparent;
	padding:10px 0 0;
}
#maincontent_intresse h2{
	font-size: 2.0em;
	font-family:Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: 500;
	background: transparent;
	padding:10px 0 0;
}
#maincontent_internt h2{
	font-size: 2.0em;
	font-family:Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: 500;
	background: transparent;
	padding:10px 0 0;
	margin: 0 0 5px 0;
}

#maincontent .boxprogram1 .ModText h2{
	font-size: 1.1em;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: bold;
	background: #eee url(/openexam/images/uu/rubrikbg.jpg) repeat-x;
	padding:1px 5px;
	margin-bottom:0;
}
.boxprogram1 .text{
	border: none; 
	padding: 0px;
	font: normal 1.0em/1.6em Verdana, Helvetica, Sans-serif;
	margin: 0 0 10px 0;
	background: #F9F9F9 url(/openexam/images/uu/intresseomr.jpg) no-repeat right bottom;
}
/* ************************************************************** */
#maincontent .boxprogram2 .ModText h2{
	font-size: 1.1em;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: bold;
	background: #eee url(/openexam/images/uu/rubrikbg.jpg) repeat-x;
	padding:1px 5px;
	margin-bottom:0;
}
.boxprogram2 .text{
	border: none; 
	padding: 0px;
	font: normal 1.0em/1.6em Verdana, Helvetica, Sans-serif;
	margin: 0 0 10px 0;
	background: #F9F9F9 url(/openexam/images/uu/progrochkurs.jpg) no-repeat right bottom;
}
/* ************************************************************** */

h3 {
	font-size: 1.2em;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: bold;
	/*background: #eee url(/openexam/images/uu/rubrikbg.jpg) repeat-x;*/
	padding:1px 0;
	margin:5px 0;
}

.latest_news h3 {
	background: url(/openexam/images/uu/rubrikbg.jpg) repeat-x scroll 0%;
	margin:0;
	padding: 0 10px;
}
/*h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: 800;
	color: #000;
	margin-bottom:0;
}*/
#rightcolumn_under div.boxright h4 {
padding:5px 10px 0;
Margin:0;
}
#maincontent_under h4 {
padding:5px 0 0;
Margin:0;
}
h6 {
	border-bottom: 1px #eee dashed;
	margin:5px 0; 
}
hr {
	border-width:0 0 1px;
	border-style: none none dashed;
	border-color: #CCCCCC;
	margin:3px 0; 
}


/* OBS klassen nedan kan användas om man vill göra någon */
/* speciell stylning av texten i TinyMCE's textruta      */
body.mceContentBody {
	
}

legend {
	font-size: 1.2em;
	font-family: Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: 500;
	padding:1px 0;
	margin:5px 0;
}


/****************************************************/
/* OBS gamla klasser!                               */
/* Används bara till äldre installationer av PCMS   */
/****************************************************/

.h3 {
   font-size: 1.1em;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: bold;
	/*background: #eee url(/openexam/images/uu/rubrikbg.jpg) repeat-x;*/
	padding:1px 0px;
	display:block;
}
#maincontent .h3 {
   font-size: 1.1em;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: bold;
	background: #eee url(/openexam/images/uu/rubrikbg.jpg) repeat-x;
	padding:1px 5px;
	display:block;
}
#maincontent_intresse .h3 {
   font-size: 1.1em;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: bold;
	background: #eee url(/openexam/images/uu/rubrikbg.jpg) repeat-x;
	padding:1px 5px;
	display:block;
}
#rightcolumn_intresse h2 {
   font-size: 1.3em;
	font-family:Arial, Helvetica, sans-serif; 
	color: #900; 
	font-weight: 700;
	background: transparent;
	padding:0;
	margin-bottom:0px;
}
 
.h4 {
    font-size: 0.9em;
    font-weight: bold;
    color: #900;
    display: block;
    margin-bottom: 2px;
}
 
.small {
    font-size: 0.8em;
}
 
.normal {
}

.boxright h2 {
/*border-top: 0;
	border-bottom: 0;
	border-right: 1px #000 solid;
	border-left: 1px #9CADBC solid;
	background: #637382 url(/openexam/images/uu/bgboxar.gif) repeat-x;
	font:700 1.0em/2.2em Verdana, Helvetica, Sans-serif;
	color: #fff;
	padding-left: 5px;
	margin-left: 0;
	display:block;
	margin:-3px -6px 5px;
	width:203px;*/
}
