
/**********************************Används inte***************************************************/
@media screen{

    /**** TOPPMENY NIVA 1 CENTRAL ****/
    #wrapper {
    }
    .menucontainer {
        margin-bottom:0px;
        margin:0;
        background:#999;
        display:inline;
        border-bottom:0px solid #999;
    }

    ul.menucontainer {
        list-style-type: none;	
        padding: 0;
        margin:0;
        list-style-image: none;
    }
    ul.menucontainer li:first-child a {
        color:white;        
    }
    ul.menucontainer li a {
        color:black;
        display:block;
        font-family:Verdana,Arial,Helvetica,sans-serif;
        font-size:1em;
        font-weight:700;
        text-decoration:none;
        -webkit-transition-property: background; 
        -webkit-transition-duration: .3s; 
        -webkit-transition-timing-function: linear;
        -moz-transition-property: background; 
        -moz-transition-duration: .3s; 
        -moz-transition-timing-function: linear; 
        transition-property: background; 
        transition-duration: .3s; 
        transition-timing-function: linear; 
        border-bottom:none;
        padding: 6px;
    }

    ul.menucontainer li:hover {
    }
    ul.menucontainer li a:hover{
        text-decoration: none;
        color:#333 !important;
        border-bottom:none !important;
        background:#fff;
    }

    ul.menucontainer li.selected {
        background:#FFFFFF none repeat scroll 0 0;
        border-bottom: 29px solid white;
    }
/*    ul.menucontainer li.first {
        border-left: 1px solid #999;
    }*/
    ul.menucontainer li.selected a {
        text-decoration: none;
        text-decoration: none;
        color:#333;
    }
    /********************** MENY ***********************/
    .treeMenuContainer  {
        background: none repeat scroll 0 0 #EEEEEE;
        margin: 0px 0 20px 5px;
        padding: 0 0 5px;
    }

    .treeMenuContainer ul li {
        background: none repeat scroll 0 0 #EEEEEE;
        border-top:1px solid #FFFFFF;
        margin:0;
        padding:0;
        -webkit-transition-property: background; 
        -webkit-transition-duration: .3s; 
        -webkit-transition-timing-function: linear;
        -moz-transition-property: background; 
        -moz-transition-duration: .3s; 
        -moz-transition-timing-function: linear; 
        transition-property: background; 
        transition-duration: .3s; 
        transition-timing-function: linear; 

    }
    .treeMenuContainer ul li a{
        padding: 8px 5px 8px 15px;
        background:none;
        border-left:5px solid transparent;
    }
    .treeMenuContainer ul ul li a {
        background: none repeat scroll 0 0 transparent;
        padding: 4px 5px 4px 30px;
    }
    .treeMenuContainer ul ul ul li a {
        background: none repeat scroll 0 0 transparent;
        padding: 4px 5px 4px 45px;
    }
    .treeMenuContainer ul ul ul ul li a {
        background: none repeat scroll 0 0 transparent;
        padding: 4px 5px 4px 60px;
    }
    .treeMenuContainer ul ul ul ul ul li a {
        background: none repeat scroll 0 0 transparent;
        padding: 4px 5px 4px 75px;
    }
    .treeMenuContainer ul ul ul ul ul ul li a {
        background: none repeat scroll 0 0 transparent;
        padding: 4px 5px 4px 90px;
    }
    .treeMenuContainer ul ul ul u ul ul ull li a {
        background: none repeat scroll 0 0 transparent;
        padding: 4px 5px 4px 105px;
    }
    .treeMenuContainer ul li a:active, .treeMenuContainer ul li a:hover, .treeMenuContainer ul li  a.selectedMenuItem{
        background:none;

    }
    .treeMenuContainer ul li a:hover {
        color:#444 !important;
    }
    .treeMenuContainer ul li  a.selectedMenuItem{
        background:#fff;

    }
    .treeMenuContainer ul li:hover {
        background: none repeat scroll 0 0 #fff;

    }

    .treeMenuContainer h2 {
        background: none repeat scroll 0 0 #999999;
        color: #FFFFFF;
        font-size: 1.5em;
        margin: 0;
        padding: 5px 5px 5px 10px !important;
    }
    .treeMenuContainer h2 a {
        color:#fff;
    }
    .treeMenuContainer h2 a:hover {
        color:#fff;
    }
    .treeMenuContainer h4 {
        margin:4px 0 0 !important;
        padding:4px 5px 2px 10px;
    }

    /*************** Tillfällig colorbox ****************/
    .colorbox h2 {
        margin-top: 0 !important;
        padding: 5px !important;
    }
    /*********** Sluttagg som ska finnas med ************/
}

td a.fill, th a.fill {
    display:block;
    width:100%;
}
