 
html, body {  	
	/* nedanstående rad saboterar marginalen för IE/Mac 5.x  */
	/* background-color: transparent; */
	margin: 0;
	padding: 0;
	font-family : Verdana, arial, Sans-serif;
	font-size: 84%;  /* skall fontstorlek ändras, gör det här! */
	height:100%;
}
html>body {
	font-size: 84% /* Var snäll mot Opera  */;
}

body.grey {   /* Ger grå vänstermarginal */
	background-image: url(/openexam/images/uu/greyedge.gif); 
	background-repeat: repeat-y; 
}

/* basix för vänstermarginalen */
#leftcolumn {
	position: absolute;
	left:0;
	top:0;
	width:160px;
	height:100%; /* funkar bara om parent container har höjdvärde */ 
    font: normal 1.0em/1.6em Verdana, Helvetica, Sans-serif;
}
/* Ser till att text i vänsterkolumn (på röd marginal) är vit */
#leftcolumn p {
   	padding: 0 5px 3px 8px;
	color: #fff;
}
/* Ser till att länkar i vänsterkolumn (på röd marginal) är vita */
#leftcolumn A {
	color: #fff;	
	text-decoration: none;
}
#leftcolumn A:hover {
	text-decoration: underline;
	color: #fff;
}
/* Ser till att text i vänsterkolumn (på vit marginal) är svart */
body.white #leftcolumn p {
   	padding: 0 5px 3px 8px;
	color: #000;
}
/* Ser till att länkar i vänsterkolumn (på vit marginal) är röda */
body.white #leftcolumn A {
	color: #9A0000;	
	text-decoration: none;
}
body.white #leftcolumn A:hover {
	text-decoration: underline;
	color: #00f;
}
/* Ser till att text i vänsterkolumn (på grå marginal) är svart */
body.grey #leftcolumn p {
	padding: 0 5px 3px 8px;
	color: #000;
}
/* Ser till att länkar i vänsterkolumn (på grå marginal) är röda */
body.grey #leftcolumn A {
	color: #900;	
	text-decoration: none;
}
body.grey #leftcolumn A:hover {
	text-decoration: underline;
	color: #900;
}
/* Grundinställningar för huvudytan */
#wrapper {
	min-height:670px;
}
#maincontent {
	/* position: relative;  */
	background:#fff;
	margin-left: 180px;
	width: 380px;
/*	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;*/

	/* box model hack 	
	voice-family: "\"}\""; 
	voice-family:inherit;
	width: 430px; */	
}
/* html>#maincontent 	{
	width: 430px;
	} */
/* Grundinställningar för smulraden */
#smulrad {
	/*position: relative;*/
	background:#fff;
	margin: 0 0 20px 180px;
	width: 800px; 
	height:129px; 
	/* box model hack 	
	voice-family: "\"}\""; 
	voice-family:inherit;
	width: 430px;	 */
}
/* html>#smulrad 	{
	width: 430px;
	} */ 
.smulrad {
	color : black;
	font-family : Verdana, arial, Sans-serif;
	font-size: 1.0em;
}
/* Grundinställningar för  sidfoten */
#footer {
	/*position: absolute;*/
	background:#fff;
	margin-top: 40px;  
	margin-left: 180px;
	width: 500px;  
	/* box model hack 	
	voice-family: "\"}\""; 
	voice-family:inherit;
	width: 430px;	 */
}
/*html>#footer 	{
	width: 430px;
	}*/ 
.sidfot { 
	border: 1px #ccc solid; 
	padding: 3px;
	font: normal 95% Verdana, Helvetica, Sans-serif;
}
/* Ingen högerkolumn. Önskas dylik måste rightcol.css importeras  */		
#rightcolumn {
	display:none
}
#knapp {
	margin-bottom:10px;
	text-align:center
}
/* And the rest... */
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.0em;
	font-weight:500;
	color: #900;
	margin:0;
	padding:0 0 0 0;
}
h2 {
	font-size: 1.2em;
	font-family:Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: bold;
	background: #eee url(/openexam/images/uu/rubrikbg.jpg) repeat-x;
	padding:1px 5px;
}
.rubrik h2 {
	font-size: 1.6em;
	font-family:Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: 500;
	background: #fff ;
	padding:1px 5px;
	margin:5px 0;
	border-bottom:1px dashed #ddd;
}
#maincontent .boxright h2 {
	font-size: 1.2em;
	font-family:Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: bold;
	background: #eee url(/openexam/images/uu/rubrikbg.jpg) repeat-x;
	padding:1px 5px;
	line-height:1.5em;
}
h1.startsida {
	font-size: 1.2em;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: bold;
	background: #eee url(/openexam/images/uu/rubrikbg.jpg) repeat-x;
	padding:1px 5px 1px 8px;
	line-height:1.5em;
	border-right:1px solid #999;
}
#maincontent_under h2 {
	font-size: 1.6em;
	font-family:Arial, Helvetica, sans-serif; 
	color: #900; 
	font-weight: 500;
	background: transparent;
	padding:10px 0 0;
}
/*h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	color: #000;
}
h5 {
	border: 1px #efefef solid;
	margin:5px 0; 
}*/
dt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	font-weight:bold;
	color:#000;
}
p, ul, ol, dd, div, td {
	color : black;
	font-family : Verdana, arial, Sans-serif;
	font-size : 1.0em;
	line-height: 1.5;
}
ul.infobox {
	list-style-type:none;
	margin:0;
	padding:0;
}
ul.infobox li {
	border-bottom:1px dashed #ccc;
	padding:2px 10px;
}
#leftcolumn ul  {
	margin-left:0; padding: 0 2px 0 1em;
	list-style-type:none;
}
body.red #leftcolumn li  {
	font-family : Verdana, arial, Sans-serif;
	color:#fff;
	font-size : 1.0em;
	line-height: 1.5;
}
A  {
	text-decoration : none;
	color : #900;
}
A:hover {
	text-decoration: underline;
	color: #900;
}
/* Ser till att länkar i smulrad och sidfot inte fetas */
#smulrad A, #footer A {
	color: #990000;	
	text-decoration: none;
}
#smulrad A:hover, #footer A:hover {
	text-decoration: underline;
	color: #900;
}
/*A.block {
  display: block;

  border: 1px solid #FFF;
  padding: 5px;
  color: #000;
  text-decoration: none; 
  font-weight:normal;
}
A.block:hover {
  border: 1px solid #CCC;
  color: #000;
  background:#F3F3F3; 
  text-decoration: none; 
}*/
A.blockingang {
  display: block;
  /*margin-bottom: 12px;*/
  border-bottom: 1px dashed #CADBE8;
  padding: 3px;
  color: #000;
  text-decoration: none; 
  font-weight:normal;
}
A.blockingang:hover {
  border-bottom: 1px solid #CADBE8;
  color: #000;
  background:#E7EEF4; 
  text-decoration: none; 
}
.normal {
	color : black;
	font-family : Verdana, arial, Sans-serif;
}
/* Här definierar vi olika typer av inramningar, rutor, whatever.. */
.ruta { 
	border: 1px #000 solid; background-color: #CCC; 
	padding: 10px;
	color : black;
	font-family : Verdana, arial, Sans-serif;
}
.vitruta { 
	border: 1px #000 solid; 
	background-color: #fff; 
	padding: 10px;
	color : black;
	font-family : Verdana, arial, Sans-serif;
}
blockquote { 
	background-color: #fff; 
	padding: 10px;
	margin: 20px; 
	color : black;
	font-family : Verdana, arial, Sans-serif;
}
/* En div av klass boxhdr används med fördel ovanför en div med klass box */
/* Gör sig bra i högerkolumn                                              */
.boxhdr {
	font-size: 1.1em;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	color: #333; 
	font-weight: bold;
	background: #eee url(/openexam/images/uu/rubrikbg.jpg) repeat-x;
	padding:1px 5px;
/*	border-right: 1px solid #ccc;*/
	border-left: 1px solid #ccc;
	}
.box { 
	border-left: 1px #ccc solid; 
	border-bottom: 1px #ccc solid; 
	border-top: 0px #ccc solid; 
	padding: 3px 10px;
	font: normal 1.0em/1.6em Verdana, Helvetica, Sans-serif;
}
.boxpuff { 
	border: 1px #ccc solid; 
	border-top: 0px #ccc solid; 
}
.boxpuff p {
	margin:3px 0 5px; 
	padding: 0px 5px;
	font: normal 1.0em/1.5em Verdana, Helvetica, Sans-serif;
}
.box#utbinfo { 
	border: 1px #ccc solid; 
	border-top: 0px; 
	padding: 3px 10px;
	font: normal 1.0em/1.6em Verdana, Helvetica, Sans-serif;
	background: #fff url(/openexam/images/uu/utbbg.jpg) bottom right no-repeat;
}
#rightleft .boxhdr {
	font-size: 1.1em;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	color: #666; 
	font-weight: bold;
	background: #eee url(/openexam/images/uu/rubrikbg.jpg) repeat-x;
	padding:1px 5px;
	border-right: 1px solid #D2D0DD;
	border-left: 1px solid #D2D0DD;
	}
#rightleft .box { 
	border: 1px #D2D0DD solid; 
	border-top: 0px #ccc solid; 
	padding: 3px 10px;
	font: normal 1.0em/1.6em Verdana, Helvetica, Sans-serif;
}
#rightleft .boxhdrblue {
	font-size: 1.1em;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	color: #223D56; 
	font-weight: bold;
	background: #eee url(/openexam/images/uu/rubrik2bg.gif) repeat-x;
	padding:1px 5px;
	border-right: 1px solid #D8DFE5;
	border-left: 1px solid #D8DFE5;
	}

#maincontent .box { 
	border-left: 1px #ccc solid; 
	border-right: 1px #ccc solid; 
	border-bottom: 1px #ccc solid; 
	border-top: 0px #ccc solid; 
	padding: 6px 10px 35px 10px;
	font: normal 1.0em/1.6em Verdana, Helvetica, Sans-serif;
}
.box p { 
	margin: 0;
}

ol.boxlist {
	margin: 0 0 10px 12px;
	padding: 0 0 5px 12px;
	list-style-type: decimal;
	list-style-position: outside;
}


ul.news_list {
	left:0;
	background-color: #fff;
	font: 500 1.0em/1.5em Verdana, Helvetica, Sans-serif;
    margin:0;
	clear:both;
	text-align:left;
	padding: 0; /* padding-left, value for IE Mac */
	text-align: left; /* value for IE Mac */
	}

.news_list ul {margin: 0; padding: 0px; background-color:#fff;}	
.news_list li {display:block; list-style:none; margin:0 0 2px 0; padding:0; }
.news_list li a:link, .news_list li a:visited { display: block; background: #fff; color: #900; list-style-position: inside; padding: 2px 10px;  margin: 0; text-decoration:none; border-bottom:1px dashed #dedede; }
.news_list li a:hover {color: #900; border-bottom:1px dashed #dedede; text-decoration:underline;  }
/* .boxWhite { 
	padding-top: 10px; padding-right: 3px; padding-bottom: 3px; padding-left: 5px;
    font: normal 1.0em/1.6em Verdana, Helvetica, Sans-serif;
	color: #fff
} */
hr.red {
	height:1px;
	background:#B4BEB3;
	color: #B4BEB3;
}
/* Netscape ignorerar @media vilket vi utnyttjar nedan. */
@media all{
	 input, select{
		/*border-top : solid 1px #767065;
		border-right : solid 1px #CCC;
		border-left : solid 1px #767065;
		border-bottom : solid 1px #CCC;*/
		color : #666;
		font : normal 11px verdana, sans-serif;
		
	}
	}
	@media all{
		input.Field, textarea{
		border-top : solid 1px #767065;
		border-right : solid 1px #CCC;
		border-left : solid 1px #767065;
		border-bottom : solid 1px #CCC;
		color : #666;
		font : normal 11px verdana, sans-serif;
		
	}
}
/* Ger stil till formulärknappar */
.button{
	border-bottom : solid 1px #767065;
	border-left : solid 1px #ccc;
	border-right : solid 1px #767065;
	border-top : solid 1px #ccc;
	background-color: #900;
	color:#fff;
	font-weight:700;
	 cursor: pointer;
}
/* Stajla Läs Upp-knappen */
.saysubmit {
	border-bottom : solid 1px #666;
	border-left : solid 1px #fff;
	border-right : solid 1px #666;
	border-top : solid 1px #fff;
	background-color: #e8e8e8;
}
.floatleft	{
	float		: left;
	text-align	: left;
}
.floatright	{
	float		: right;
	text-align	: right;
	margin-top:10px;
}
/* specialare */
.hide	{
	display: none;
}
.ahem	{
	display: none;
}
img	{
	border: 0;
}
.box img	{
	border: 0;
}
.inline {
	display: inline;
}
.menucurrent {
	font-weight:700;
}
.foto {
	float:left;
	margin-right:10px;
}




/*egnaboxarstylining*/
.boxright {
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	border-left:1px solid #F9F9F9;
	border-top:1px solid #F9F9F9;
	background: #F4F3F3;
}
.boxright h2 {
	padding: 3px 5px;
	margin:0;
	font : 700 1.1em verdana, sans-serif;
}
.boxright p{
	padding: 5px 10px 10px;
	margin:0;
}
.boxleft {
}
/*Boxar i mitten*/
.boxmitt {
	border:1px solid #ccc;
	border-top:none;
}
.boxmitt h2 {
	padding: 3px 5px;
	margin:0;
	font : 700 1.1em verdana, sans-serif;
}
.boxmitt p img{
	padding: 0;
	margin: -5px;
}
.boxmitt p{
	padding: 0 5px 5px;
	margin:5px 0;
}
/*END Boxar ti mitten*/
/*Boxar nobox*/
.nobox {
	border:none;
	border-top:none;
}
#maincontent .nobox h2 {
	padding: 15px 0 0;
	margin:0;
	font : 700 1.1em verdana, sans-serif;
	background: #fff;
}
.nobox p img{
	padding: 0;
}
.nobox p{
	padding: 0;
	margin:5px 0;
}
/*END Boxar nobox/
/*Boxar i mitten*/
.boxleft {
	border:1px solid #ccc;
}
.boxleft h2 {
	padding: 3px 5px;
	margin:0;
	font : 700 1.1em verdana, sans-serif;
}
.boxleft p{
	padding: 0 5px 5px;
}
/*END Boxar ti mitten*/
/*Boxar internt*/
.boxinternt {
	border-left:1px dashed #ccc;
	padding:0 0 0 10px;
	width:275px;
}
#rightleft .boxinternt h2 {
	padding: 3px 5px;
	margin:0;
	font : 700 1.1em verdana, sans-serif;
}
.boxinternt p{
	padding: 0 5px 5px;
}
.latest_news {
	border:1px solid #ccc;
	background:#f7f7f7;
	padding:0 0 10px;
	margin: 0 10px 10px 0;
}
.latest_news p{
	padding:0 20px 0px 10px;
}
.latest_news .datum{
	padding:0 20px 10px 10px;
}
.latest_news a{
	margin:0 20px 20px 10px;
}
/*END Boxar internt*/
/*Boxar i mitten*/
#rightleft .boxblue { 
	border: 1px #D2D0DD solid; 
	border-top: 1px #D8DFE5 solid; 
	padding: 0;
	background-color:#F0F4F7;
	font: normal 1.0em/1.6em Verdana, Helvetica, Sans-serif;
}
.boxblue {
	border:1px solid #ccc;
}
.boxblue h2 {
	padding: 3px 5px;
	margin:0;
	font : 700 1.1em verdana, sans-serif;
}
.boxblue p{
	padding: 0 5px 5px;
}
.boxblue ul {
	padding:5px 5px 10px 5px;
	margin:0;
	list-style:none;
}
/*END Boxar ti mitten*/
/*End egnaboxarstylining*/
.samlar {
	clear: both;
}
.control {
	margin: 0 0 8px 0;
}
#rightcolumn_under .ModFlexform {
	padding:5px;
}
